<div class="scrollable" ng-controller="ResultController as result">
    <div class="scrollable-content">
        <div class="section">
            <div class="keypad">
                <label class="btn btn-default keypad-item keypad-item-{{key}}"
                       ng-class="{active: main.$storage.lastNumber.number == key}"
                       ng-repeat="key in result.keypadNumbers track by $index" ng-click="result.addResult(key)">{{key}}
                </label>
                <label ng-if="main.$storage.lastNumber" class="btn btn-default keypad-item"
                       ng-click="result.undoResult()"><i class="fa fa-undo"></i></label>
            </div>

            <div ng-if="main.$storage.outcome.unseen.length > 28 && main.$storage.outcome.unseen.length < 8" class="text-center text-success">
                Please wait.....
            </div>

            <!--<div ng-if="main.$storage.outcome.seen.length > 7 && main.$storage.outcome.seen.length < 28">-->
            <div>
                <p class="text-center">----- Seen {{ main.$storage.outcome.seen.length }} -----</p>
                <ul class="nohit-numbers">
                    <li ng-repeat="n in main.$storage.outcome.seen | orderBy:'number' track by $index ">
                        {{n.number}}
                    </li>
                </ul>
            </div>

            <!--<div ng-if="main.$storage.outcome.unseen.length > 7 && main.$storage.outcome.unseen.length < 28">-->
            <div>
                <p class="text-center">----- Unseen {{ main.$storage.outcome.unseen.length }} -----</p>
                <ul class="nohit-numbers">
                    <li ng-repeat="n in main.$storage.outcome.unseen track by $index ">
                        {{n.number}}
                    </li>
                </ul>
            </div>
            <br>
            <!-- <p>
                Total : {{total}}
                <br>
                Seen : {{seen}}
                <br>
                Unseen : {{unseen}}
                <br>
                profit : {{ (position.win - position.loss) * 20}}
            </p>
            <br> -->
            <table class="table table-responsive" ng-if="main.$storage.reports.length">
                <tr>
                    <th>AP</th>
                    <th>NAP</th>
                </tr>
                <tr ng-repeat="hist in main.$storage.reports track by $index">
                    <td>
                        <i class="fa fa-check" ng-if="hist.seen"></i>
                    </td>
                    <td>
                        <i class="fa fa-check" ng-if="hist.unseen"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>